.tweetOutline {
  border: 5px solid black;
  display: block;
  padding-left: 5%;
  padding-right: 0%;
  margin-left: 0;
  margin-right:10.5%;
  width: 100%;
  
  
  

}

.tweetHeader{
  display:flex;
  flex-direction: row;
  font-family: sans-serif;
  
  
}
#name{
  padding-top: 10px;
}

.tweetFooter {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid black;

}

.tweetIcons{
  display:flex;
  align-items: center;
}

.nameAvatar {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#flag:hover{
  opacity: 0.5;
  box-shadow: 20px 20px 20px 20px red;
}

#retweet:hover{
  opacity: 0.5;
}
#heart:hover{
  opacity: 0.5;
  box-shadow:yellow;
}
/* box shadow object not working */



