
/* html {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
} */

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 25px;
  }
  .c1 {
    width: 25%;
    margin-top: 200px;
    margin-bottom: 200px;
  }

  .container {
    width: 75%;
  }
  #tweetContainer {
    width: 100%;
  }

  .navBar {
    position: fixed;
    top: 0;
    width: 100%;
    display:flex;
  }

  header {
    height: 410px;
  }

  #tweet-text {
  
    margin-top: 198px;
    
  }

  .userTweet {
    width: 100%;

    height: 50%;
    
  
  }

}


